<article class="card size-{{ size }}">
    <div class="wrapper-img">
        <img class="product-img" src="{{ item.image }}" width="150" height="130" alt="">
        <button class="save-favourite-btn"><img class="image-to-favourite" src="/assets/addtofavo.svg"
                alt="to favourite"></button>
    </div>
    <h3 class="product-name"><a class="slug" href="/cadeau/{{ item.slug }}">{{ item.name }}</a></h3>

    <div class="whapper-spotter-gived-info">
    <div class="spotter-info">
        <!--<img class="saved-spotters-img" src="/assets/persoons.svg" alt="spotters">-->
        <p class="product-saved">+30 saved</p>
    </div>
    <div class="spotter-info">
        <img class="gived-cadeau-img" src="/assets/cadeau.svg" alt="cadeau">
        <p class="product-gived">+4 gived</p>
    </div>
</div>
</article>