<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Milledoni - {{ title }}</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/stylesheet.css">
    <link rel="icon" href="/assets/logomobiel.svg" type="image/x-icon"/>
</head>
<body>

  <header>
    <div class="branding">
    <img class="logo-desktop-img" src="/assets/logobedrijf.svg" alt="logo">

    <h2 class="logo-tagline">Finding and sharing gifts ideas</h2>
    </div>

    <div class="user-actions">
    <a class="your-list" href=""><p class="create-list">Create your list</p><img class="favourite-list-img" src="/assets/favourite.svg" alt=""></a>
    <a class="profile-btn" href=""><img class="profile-img" src="/assets/profile.svg" alt=""></a>
    </div>
</header>
  <body>