<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Milledoni</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/stylesheet.css">
	<script src="/main.js" defer></script>
</head>
<body>
    <div class="div-error">
        <img src="/assets/logomobiel.svg" alt="logo" class="error-logo">
        <h1 class="error-h1">404</h1>
        <p class="error-p">Helaas... Deze pagina bestaat niet...</p>
        <a class="error-a" href="views/index.liquid">Klik hier om naar de hoofdpagina te gaan</a>
    </div>
</body>
</html>