@font-face {
    font-family: 'Parkinsans';
    src: url('/font/Parkinsans-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Parkinsans';
    src: url('/font/Parkinsans-Bold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Parkinsans';
    src: url('/font/Parkinsans-ExtraBold.ttf');
    font-weight: 800;
}

@font-face {
    font-family: 'Parkinsans';
    src: url('/font/Parkinsans-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Parkinsans';
    src: url('/font/Parkinsans-Medium.ttf');
    font-weight: 500;
}

body {
    font-family: 'Parkinsans', sans-serif;
}



/* COLOR */
:root {
    --bg-general: #f6f5f5;
    --bg-secondary: #ffffff;
    --bg-tertiary:#EDEDED;
    --bg-chat-closed: #F6F5F5;
    --bg-filters-not-choose: #A9ABAD;
    --bg-register: #868686;
    --bg-filters-choose: #101010;
    --bg-chat-speechbubble: #000000;
    --bg-button: #000000;
    --bg-facetfilter-boy: #AFDEFF;
    --bg-facetfilter-girl: #FFCBE4;
    --bg-facetfilter-standard: #B9B9B9;
    --bg-filters: #EEEEEE;

    --illustratie: #575757;

    --text-suggestions-chat: #F6F5F5;
    --text-general: #000000;
    --text-share: #616161;
    --text-secondary: #ffffff;


    /* FONT-SIZE */

    /*H1*/
    --l-heading: 68px;
    --m-heading: 60px;
    --s-heading: 40px;
    --xs-heading: 37px;
    --xxs-heading: 27px;

    /*H2*/
    --l-subtitle: 28px;
    --m-subtitle: 27px;
    --s-subtitle: 26px;

    /*H3*/
    --l-detail-heading: 24px;
    --m-detail-heading: 23px;
    --s-detail-heading: 20px;
    --xs-detail-heading:16px;

    /*H4*/
    --m-info-title: 16px;

    /*P*/
    --xxxl-paragraph: 26px;
    --xxl-paragraph: 25px;
    --xl-paragraph: 24px;
    --l-paragraph: 22px;
    --ml-paragraph: 20px;
    --m-paragraph: 19px;
    --s-paragraph: 18px;
    --xs-paragraph: 16px;
    --xxs-paragraph: 15px;
    --xxxs-paragraph: 14px;

    /*FONT-WEIGHT*/
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 600;
    --font-weight-extra-bold: 800;


    /*LINE-HEIGHT*/
    --line-height-general: auto;
    --line-height-xxl: 1.7;
    --line-height-xl: 1.3;
    --line-height-l: 1.15;
    --line-height-m: 1.1;
    --line-height-s: 1.0;
    --line-height-xs: 0.9;
    --line-height-xxs: 0.6;

    /*BORDER-RADIUS*/
    --border-radius-xxxl: 50%;
    --border-radius-xxl: 106px;
    --border-radius-xl: 52px;
    --border-radius-l: 30px;
    --border-radius-m: 20px;
    --border-radius-s: 17px;
    --border-radius-xs: 16px;
    --border-radius-xxs: 11px;
    --border-radius-xxxs: 8px;

    /*BOX-SHADOW*/
    --box-shadow-l: 0px 0px 10px 0px var(--bg-filters-not-choose);
    --box-shadow-m: 2px 1px 5px 0px var(--bg-filters-not-choose);
    --box-shadow-s: 0px 2px 3px -2px var(--bg-filters-not-choose);





}